
  .rcw-new-message {
    background-color: white !important;
  }
  
  .rcw-send {
   margin-left: 10px;
   padding-bottom: 10px;
  }

.rcw-launcher {
    background-color: rgb(0, 238, 255) !important;
    padding-left: 10px;
    bottom: 40px;

  }
  
  
 
  