/* custom-slide.css */

.slider-container {
  position: relative;
  width: 100%;
  height: 600px; /* or any height you want */
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
