
/* Hamburger.css */

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
    align-items: end;
    width: 35px;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
  }

  
  .line {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 1px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .line.middle {
    margin: 7px 0;
  }
  
  .hamburger-icon.open .top {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger-icon.open .middle {
    opacity: 0;
  }
  
  .hamburger-icon.open .bottom {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  .menu {
    background-color: #666;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin-top: -20px;
    padding: 10px 20px;
    animation: slide-down 0.3s ease-out;
    z-index: 10;
    width: 100%;
  }
  
  .menu span {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: color 0.2s ease;
  }
  
  .menu span:last-child {
    border-bottom: none;
  }
  
  .menu span:hover {
    color: #007bff;
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Hamburger.css */

.menu {
    background-color: #666;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 80px;
    padding: 10px 20px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: 10;
    width: 100%;
  }
  
  .menu-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .menu-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu-exit-active {
    opacity: 0;
    transform: translateY(-20px);
  }
  
