.profile-container {
    text-align: center;
}

.profile-info {
    text-align: center;
}

.name {
    display: block;
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
}


.username {
    display: block;
    font-size: 1.2rem;
    color: #aaa; /* Light color for the username */
    margin-bottom: 5px;
}



.pronouns {
    display: block;
    font-size: 1rem;
    color: #888; /* Slightly lighter color for pronouns */
    margin-bottom: 15px;
}

.profile-details {
    margin-top: 20px;
    text-align: center;
}


.bio {
    font-size: 1rem;
    color: #ddd; /* Lighter color for bio text */
    line-height: 1.5;
}
.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.flipping-avatar {
    perspective: 1000px;
}

.flip-card {
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    animation: flip 6s infinite linear;
    margin: 0 auto; /* Center the flip-card horizontally */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-content {
    font-size: 14px;
    text-align: center;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
