name: Deploy to Firebase Hosting on merge

on:
  push:
    branches:
      - master 

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: cd frontend && npm install --force

      - run: cd frontend && npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MOVIEAPP_CD283 }}
          channelId: live
          projectId: movieapp-cd283
